@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body {
  font-family: "Open sans", sans-serif;
  background-color: #2f4050;
  font-size: 13px;
  color: #fff;
  overflow-x: hidden;
  margin: 16px 16px 16px 16px;
  margin: 1rem 1rem 1rem 1rem; }

html, body {
  height: 100%; }

h1, h2, h3, h4, h5, h6, p, li {
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  font-weight: 700;
  margin-bottom: 20px; }

h4, h5, h6, p, li {
  font-weight: 300;
  margin-bottom: 10px; }

h1 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 51.2px;
  line-height: 3.2rem; }

h2 {
  font-size: 38.4px;
  font-size: 2.4rem;
  line-height: 41.6px;
  line-height: 2.6rem; }

h3 {
  font-size: 25.6px;
  font-size: 1.6rem;
  line-height: 28.8px;
  line-height: 1.8rem; }

h4 {
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 25.6px;
  line-height: 1.6rem; }

h5 {
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 22.4px;
  line-height: 1.4rem; }

h6, p, li {
  font-size: 16px;
  font-size: 1rem;
  line-height: 19.2px;
  line-height: 1.2rem; }
