// Basic Colors
$color-primary: #1ab394;
$color-light: #fff;
$color-dark: #676a6c;
$color-success: #1c84c6;
$color-info: #23c6c8;
$color-warning: #f8ac59;
$color-danger: #ED5565;

// Backgrounds
$bg-dark: #2f4050;

// Fonts Family
$font-family-default: "Open sans",  sans-serif;
